{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>
            Admin Dashboard
        </h1>
        <h3>
            Total Count={{ total_count }}
        </h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Referred By</th>
                    <th scope="col">Mobile No</th>
                    <th scope="col">Email</th>
                    <th scope="col">Team Count</th>
                    <th scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
                
                {% for usr in all_str %}
                <tr>
                    <th scope="row">{{ usr.id }}</th>
                    <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ usr.id }}">
                        {{ usr.user_id.first_name }} {{ usr.user_id.last_name }}
                    </button></td>
                    <td>{{ usr.ref_by_user_id.first_name }} {{ usr.ref_by_user_id.last_name }}</td>
                    <td>{{ usr.user_id.mobile_no }}</td>
                    <td>{{ usr.user_id.email }}</td>
                    <td>{{ usr.child_count }}</td>
                    <td>{{ usr.points}} </td>
                </tr>
                
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{ usr.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ usr.user_id.first_name }} {{ usr.user_id.last_name }}</h1>
                        <p>Total Points: {{ usr.points }} </p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                                {% for child in usr.child_branch.all %}
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item">{{ forloop.counter }}</li>
                                    <li class="list-group-item">{{ child.first_name }} {{ child.last_name }}</li>
                                    <li class="list-group-item">{{ child.mobile_no }}</li>
                                    <li class="list-group-item">{{ child.email }}</li>
                                </ul>
                                {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <form action="{% url 'add_points' usr.id %}" method="post">
                                {% csrf_token %}
                                <label for="points">Add Points</label>
                                <input type="number" name="points" id="points">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}