{% load static %}
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom p-3">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none logo">
        Youth Empowerment Program
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2 ">Home</a></li>
      <li><a href="#" class="nav-link px-2">Products</a></li>
      <li><a href="#" class="nav-link px-2">About Us</a></li>
      <li><a href="#" class="nav-link px-2">Contacts</a></li>
    </ul>

    <div class="col-md-3 text-end">
      {% if user.is_authenticated %}
            <a href="{% url 'user_dash' %}" class="btn btn-primary me-2">{{user}}</a>
            <a href="{% url 'user_logout' %}" class="btn btn-danger">Logout</a>
        {% else %}
        <a href="{% url 'user_login' %}" class="btn btn-primary me-2">Login</a>
        <a href="{% url 'user_register' %}" class="btn btn-warning">Register</a>
        {% endif %}
    </div>
  </header>