{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Create Account</h2>
    
    {% if ref_user %}
    <h4>Reffered by : {{ref_user}}</h4>
    {% endif %}
        

    <form method="post">
        {% csrf_token %}
      <!-- Username Field -->
      <div class="mb-3">
        <label for="username" class="form-label">Username<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="username" name="username" required maxlength="255">
      </div>

      <!-- First Name Field -->
      <div class="mb-3">
        <label for="first_name" class="form-label">First Name<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="first_name" name="first_name" required maxlength="255">
      </div>

      <!-- Last Name Field -->
      <div class="mb-3">
        <label for="last_name" class="form-label">Last Name<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="last_name" name="last_name" required maxlength="255">
      </div>

      <!-- Email Field -->
      <div class="mb-3">
        <label for="email" class="form-label">Email Address </label>
        <input type="email" class="form-control" id="email" name="email" maxlength="255">
      </div>

      <!-- Mobile No Field -->
      <div class="mb-3">
        <label for="mobile_no" class="form-label">Mobile Number <span class="text-danger">*</span></label>
        <input type="tel" class="form-control" id="mobile_no" name="mobile_no" required maxlength="255">
      </div>

      <!-- Password Field -->
      <div class="mb-3">
        <label for="password" class="form-label">Password<span class="text-danger">*</span></label>
        <input type="password" class="form-control" id="password" name="password" required maxlength="255">
      </div>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock content %}
    