{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                <div class="mt-3">
                <h4>{{user.first_name}} {{user.last_name}} </h4>
                <h6>Points. {{user_structure.points}}</h6>
                <a href="javascript:void(0);" id="shareButton" class="btn btn-info w-100 fw-bold" onclick="copyToClipboard('{{user.unique_id}}')">
                    Share link
                </a>
                </div>
            </div>
            </div>
        </div>

        </div>
        <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-dark">
                {{user.first_name}} {{user.last_name}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-dark">
                {{user.email}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Mobile No.</h6>
                </div>
                <div class="col-sm-9 text-dark">
                {{user.mobile_no}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Child Counts</h6>
                </div>
                <div class="col-sm-9 text-dark">
                {{user_structure.child_count}}
                </div>
            </div>
            
            
            {% if user_structure.ref_by_user_id %}
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Referred By</h6>
                </div>
                <div class="col-sm-9 text-primary">
                {{user_structure.ref_by_user_id.first_name}} {{user_structure.ref_by_user_id.last_name}}
                </div>
            </div>
            <hr>
            {% endif %}
                
            </div>
        </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Referrals</h2>
        </div>
        
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Mobile No</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            
            {% for child in user_structure.child_branch.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ child.first_name }} {{ child.last_name }}</td>
                <td>{{ child.mobile_no }}</td>
                <td>{{ child.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    
</div>
    <script>
        document.getElementById('shareButton').addEventListener('click', async () => {
            const uniqueId = '{{ user.unique_id }}';
            const shareData = {
                title: 'Check this out!',
                text: 'Use my referral link to Register in Youth Empower',
                url: `https://www.youthempower.com/sign_up/${uniqueId}`
            };

            if (navigator.share) {
                try {
                    await navigator.share(shareData);
                    console.log('Successfully shared');
                } catch (error) {
                    console.error('Error sharing:', error);
                }
            } else {
                // Fallback for non-mobile browsers
                const textToCopy = `${shareData.title}\n${shareData.text}\n${shareData.url}`;
                try {
                    await navigator.clipboard.writeText(textToCopy);
                    alert('Link copied to clipboard! You can paste it anywhere.');
                } catch (error) {
                    console.error('Error copying to clipboard:', error);
                    alert('Failed to copy the link.');
                }
            }
        });
    </script>
{% endblock content %}